:root{
  --celeste:#9fd6ff;
}

body{
  background:#f8f9fa;
}

.hero{
  background:linear-gradient(
    135deg,
    #9fd6ff,
    #ffffff
  );
}

.whatsapp-float{
  position:fixed;
  right:20px;
  bottom:20px;
  width:60px;
  height:60px;
  background:#25D366;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
  font-size:28px;
}
.card{
  transition:0.3s;
  border:none;
}

.card:hover{
  transform:translateY(-5px);
}

.card img{
  height:300px;
  object-fit:cover;
}

footer{
  margin-top:30px;
}

h2{
  font-weight:bold;
}
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #25D366;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    z-index: 999;
}